<html>
    <head>
        <title>DigitalDoc</title>
        <meta name="viewport" content="user-scalable=no,width=device-width" />
        <link href="{{ app.request.basepath }}/css/reset.css" rel="stylesheet" type="text/css" />
        <link href="{{ app.request.basepath }}/css/main.css" rel="stylesheet" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id="wrapper">
            <h1>Digital<span>Doc</span></h1>
            <p>Add photos of paper documents and generate one single PDF document.</p>
            <div id="container">
                <div id="items" class="clearfix">
                </div>
            </div>

        </div>
        <div id="footer" class="clearfix">
            <div id="uploader">
                <input type="file" id="imgInp" />
                <span>Add a file...</span>
            </div>
            <button id="generate">Generate PDF</button>
        </div>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="{{ app.request.basepath }}/js/main.js"></script>
    </body>
</html>

