html, body {
    padding: 0;
    margin: 0;
}
body {
    background: #56bc8a;
    text-align: center;
    font-family: 'Lato', Helvetica, arial, sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 25px;
}

h1 {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 25px;
}
h1 span {
    font-weight: normal;
}
p {
    margin: 2px 0 13px 0;
}

#wrapper {
    padding: 50px 15px 75px 15px;
    margin: 0 auto;
    max-width: 400px;
}

#footer {
    background: rgba(0,0,0,.13);
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 15px;
    width: 100%;
}

button, #uploader {
    font-family: 'Lato', Helvetica, arial, sans-serif;
    color: #56bc8a;
    background: #fff;
    border-radius: 2px;
    font-weight: bold;
    border: none;
    font-size: 0.4em;
    padding: 5px 15px;
    float: right;
    width: 48%;
    line-height: 30px;
}

#uploader {
    position: relative;
    float: left;
}
#uploader input {
    position: absolute;
    z-index: 2;
    opacity: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
#uploader span {
    font-weight: bold;
}

#items {
    padding: 25px 0;
    font-size: 0.8em;
    font-style: italic;
    color: rgba(255,255,255,.5);
}

.item {
    width: 100%;
    float: left;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
    background: rgba(0,0,0,.13);
    position: relative;
}
.item img {
    width: 100%;
}
.item button {
    position: absolute;
    right: -5px;
    top: -5px;
    border-radius: 50%;
    font-size: 1.5em;
    height: 30px;
    width: 30px;
    line-height: 30px;
    padding: 0px;
}


/* helpers */
.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
